.content {
  padding: 0 8vw;
  width: 100%;
}

.section {
  text-align: center;
  padding-bottom: 8vw;
}

.headline {
  font-size: clamp(2rem, 5.556vw, 6rem);
  color: #FFFFFF;
  font-weight: 700;
  margin-left: -0.3vw;

  @media screen and (max-width: 600px){
    margin-left: -0.15vw;
  }
}

.headline2 {
  font-size: clamp(1.875rem, 3.472vw, 3.75rem);
  color: #FFFFFF;
  font-weight: 700;
  margin-left: -0.3vw;

  @media screen and (max-width: 600px){
    margin-left: -0.15vw;
  }
}

.subtitle {
  font-size: clamp(0.9rem, 1.3vw, 1.25rem);
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 148.2%;
}

button {
  display: inline-block;
  border: #4E8BFE solid 1px;
  border-radius: 4px;
  text-decoration: none;
  padding: 9px 21px;
  background: transparent;
  cursor: pointer;

  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4E8BFE;

  transition: all 0.2s ease-in-out;

  &:hover {
    background: rgba(78, 139, 254, 0.1);
  }
}