:root {
  --background: black;
  --text: 255, 255, 255;
  --primary: 78, 139, 254;
  --secondary: 99, 83, 165;

  --cover-image: url('~@/assets/cover.webp');
  --cover-margin: 0;
}

[data-theme="light"] {
  --background: white;
  --text: 92, 102, 109;
  --primary: 43, 131, 191;
  --secondary: 205, 218, 227;
  --cover-image: url('~@/assets/cover-light.webp');
  --cover-margin: 15vw;
}

html {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  color: white;
  background: #3764ba;
}

.content {
  padding: 0 8vw;
  width: 100%;
}

.section {
  text-align: center;
  padding-bottom: 8vw;
}

.headline {
  font-size: 5rem;
  font-size: clamp(2rem, 5.556vw, 6rem);
  color: rgba(var(--text), 1);
  font-weight: 700;
  margin-left: -0.3vw;

  @media screen and (max-width: 600px){
    margin-left: -0.15vw;
  }
}

.headline2 {
  font-size: 3rem;
  font-size: clamp(1.875rem, 3.472vw, 3.75rem);
  color: rgba(var(--text), 1);
  font-weight: 700;
  margin-left: -0.3vw;

  @media screen and (max-width: 600px){
    margin-left: -0.15vw;
  }
}

.subtitle {
  font-size: 1.25rem;
  font-size: clamp(0.9rem, 1.3vw, 1.25rem);
  font-weight: 400;
  color: rgba(var(--text), 0.8);
  line-height: 148.2%;
}